<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onLogin(loginForm)" #loginForm="ngForm" *ngIf="!isLoading">
    <mat-form-field>
      <input matInput type="email" placeholder="Email" name="email" ngModel #emailInput="ngModel" required email/>
      <mat-error *ngIf="emailInput.inValid">Please enter valid email.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" placeholder="Password" name="password" ngModel #passwordInput="ngModel" required/>
      <mat-error *ngIf="passwordInput.inValid">Please enter password.</mat-error>
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit">
      login
    </button>
  </form>
</mat-card>
